
<div class = 'container'>
  <p>Hello there, <%=@user.username %></p>
  <%if current_user == @user%>
    <%if @user.created_surveys.length == 0%>
    <p>You have not made any surveys</p>
    <%else%>

  <p> Here are the surveys you have created</p>

  <%@user.created_surveys.each do |survey|%>
      <ul><li>Survey: <%=survey.name%></li>
        <li><%=survey.takers.length%> people have taken your surveys</li>
        <li> <%if current_user == survey.creator%>
            <form method="POST" action="/surveys/<%=survey.id%>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete this survey" class="button">
          </form><%end%></li>

      </ul>

       <%end%>
       <%end%>
       <%end%>

      <br><br>


<p>
 	<%@user.taken_surveys.uniq.each do |survey|%>
 			Survey: <%=survey.name%>
 			<br>
 			Creator: <%=survey.creator.username%>
 			<br> <br>
 			<%survey.selections.each do |selection|%>
 				 Question:<%=selection.question.question_text%>
 				<br>
 				You Selected: <%=selection.choice.choice_text%>
 				<br> <br>

 			 <%end%>

 			<br><br>


 	<%end%>




</p>

</div>