<%=@survey.name%>

<%@survey.questions.each do |question|%>
  <h3><%=question.question_text%></h3>
   <form class="displayed-surveyquestion" action="/selections" method='post'>
    <%question.choices.each_with_index do |choice, index|%>
      <h4><input type="radio" name="choice_text<%=question.id%>" value="<%=choice%>"> <%=choice.choice_text%>
  <%end%>
  <%end%>
  <input type="submit" value="Submit Survey">
</form>

